<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>User Authentication</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">              
</head>
<body>
<div class="container">
	<h2>User Authentication</h2>
	<form action="{{ url_for('authenticate') }}" method="post">
        {% if mesage is defined and mesage %}
			<div class="alert alert-warning">{{ mesage }}</div>
		{% endif %}
		<div class="form-group">
			<label for="code">Authentication Code:</label>
			<input type="text" class="form-control" id="code" name="code" placeholder="Enter code" name="code">
		</div>    
		<button type="authenticate" class="btn btn-primary">Authenticate</button>
	</form>
</div>        
</body>
</html>